.container {
  position: absolute;
  width: fit-content;
  margin-top: 100px;
  padding: 20px;
  right : 500px;
  border: 2px solid #3498db;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(52, 152, 219, 0.7);
  overflow: hidden;
  animation: glow 1s linear infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 20px rgba(52, 152, 219, 0.7);
  }
  to {
    box-shadow: 0 0 40px rgba(52, 152, 219, 0.9);
  }
}

